#gridContainer {
    margin: 25px auto;
    width: 800px;
    height: 800px;    
    display: grid;
    border: solid 5px black; 
    }

    h1 {
        font-size: 50px;
        text-align: center;
    }

    button {
        display: block;
        width: 250px;
        margin: 0 auto;
    }